<!doctype html>
<html><head><%- include('partials/head') %></head><body>
<%- include('partials/header') %>
<main class="container">
  <h2>404 Not Found</h2>
  <p>Sorry, page not found.</p>
</main>
<%- include('partials/footer') %></body></html>